{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">B2C</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">DASHBOARD <span class="sr-only">(current)</span></a>
                    </li>
                    
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        QRS
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">My QRS</a>
                        <a class="dropdown-item" href="#">QR Views</a>
                      </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">OFFERS</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">EVENTS</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">PAYMENTS</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">VISITORS</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        MESSAGING
                      </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Contacts</a>
                      <a class="dropdown-item" href="#">Messages</a>
                    </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">CLIENTS</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">USERS</a>
                    </li>
                  </ul>
                </div>
              </nav>
        {% block content %}
        {% endblock %}
</body>
</html>